 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>안녕하세요. 끊임없는 노력과 열정을 다하는 개발자 이현정입니다. 
						컴퓨터공학과 졸업 (2020.02) 
						자격증 : 정보처리기사, 컴퓨터활용능력 1급 
						자바 오픈소스 기반 빅데이터 분석 개발자 양성과정 교육 수료 (6개월, 960시간)
					</p>
                </div>
                <div class="col-lg-4">
                    <p>보유 스킬 : Java, C#, Python, MySql, Oracle, Spring, Ubuntu, Unity </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
